
.logo-wrapper {
    display: flex;
    justify-content: center;
    margin: 48px 0;
  }
  
  .market-logo {
    width: 280px;
    height: auto;
  }
  .flex-cards{
    width: 100%;
    min-width: 180px;
    margin: 16px auto 0;
  }
  .flex-cards-tabs{
  display: flex;
  justify-content: space-between;
  width: 83%;
  padding:  0 0 0 16px;
  }
  