

:root {
  --primary-color: #E80f88;
  --down-color :#ff3440;
  --up-color:#0f0;
  --danger-color:#f73131;
  --white-color:#fff;
  --card-color:#2b2b2b;
  --gray-color:#808089;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-top-down{
  padding: 48px 0 48px;
}

.toma-primary{
  color: var(--primary-color);
}
